html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fas, .far {
  font-size: 35px;
}

.mainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.menu__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  .menu__burger {
    display: flex;
  }
}

.menu__hr {
  background-color: white;
  width: 100%;
  height: 1px;
  margin: 0;
  border: none;
}

.menu__info {
  font-size: 15px;
  font-family: "Proxima Nova Bold";
  color: white;
}

.menu__wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  align-items: center;
  padding: 30px 25px;
  z-index: 100;
  width: 100%;
  transition-duration: 0.3s;
}

.menu__logo {
  font-size: 36px;
  letter-spacing: 7px;
  color: #ffffff;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .nav {
    display: none;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-color: rgba(1, 1, 1, 0.7);
  }
}

.nav__ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .nav__ul {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

.nav__li {
  font-family: "Proxima Nova Bold";
  font-size: 15px;
  text-transform: uppercase;
  padding: 0 60px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .nav__li {
    padding: 0 30px;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .nav__li {
    margin: 30px auto;
    padding: 0;
  }
}

.nav__li--wooden {
  font-size: 36px;
  letter-spacing: 7px;
  color: #ffffff;
}

.nav__li:last-child {
  padding: 0 0 0 60px;
}

@media screen and (max-width: 1200px) {
  .nav__li:last-child {
    padding: 0 0  0 30px;
  }
}

@media screen and (max-width: 1000px) {
  .nav__li:last-child {
    padding: 0;
  }
}

.nav__a {
  color: white;
}

.nav__span {
  color: red;
}

.fade {
  margin: 0 !important;
}

.swiper-container {
  pointer-events: none !important;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .slide {
    background-position: center;
  }
}

.slide__text-block {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 630px;
}

@media screen and (max-width: 1200px) {
  .slide__text-block {
    max-width: 450px;
  }
}

@media screen and (max-width: 700px) {
  .slide__text-block {
    max-width: none;
    width: 70%;
    text-align: right;
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .slide__text-block {
    width: 90%;
  }
}

.slide__text-block--left {
  right: 0;
}

.slide__text-block--right {
  position: static;
  transform: translateY(50%);
}

@media screen and (max-width: 700px) {
  .slide__btn {
    margin: 0 0 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .slide__btn {
    max-width: none !important;
  }
}

.slide__headline {
  color: #BEA67B;
  font-size: 70px;
  font-family: "Proxima Nova Bold";
  margin: 0 0 60px 0;
}

@media screen and (max-width: 1200px) {
  .slide__headline {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  .slide__headline {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .slide__headline {
    font-size: 35px;
    text-align: center;
  }
}

.slide.red {
  background-image: url("../images/slide1.jpg");
  background-size: cover;
}

.slide.green {
  background-image: url("../images/slide2.jpg");
  background-size: cover;
}

.slide.blue {
  background-image: url("../images/slide3.jpg");
  background-size: cover;
}

.wooden__text {
  color: #BEA67B;
  font-size: 52px;
  position: absolute;
  left: 2%;
  top: 30%;
  top: 40%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  font-family: "Proxima Nova Bold";
}

.wooden__text::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #BEA67B;
}

.description {
  padding: 90px 0 0 0;
  box-sizing: border-box;
}

.description__grid {
  display: flex;
  justify-content: space-between;
  margin: 0 0 90px 0;
  position: relative;
  flex-direction: row-reverse;
}

.description__grid--second {
  flex-direction: row;
}

.description__grid--last {
  margin: 0 0 90px 0;
}

@media screen and (max-width: 1100px) {
  .description__grid {
    flex-direction: column;
    justify-content: center;
  }
}

.description__cell {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .description__cell {
    justify-content: center;
  }
}

.description__text-block {
  width: 350px;
}

@media screen and (max-width: 1100px) {
  .description__text-block {
    width: 100%;
  }
}

.description__title {
  font-family: "Proxima Nova Regular";
  font-size: 48px;
  color: #010101;
  margin: 0 0 20px 0;
  text-align: center;
}

.description__text {
  margin: 0 0 35px 0;
  font-size: 25px;
  text-align: center;
  color: #464646;
  line-height: 25px;
}

.description__btn {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  font-family: "Proxima Nova Regular";
  position: relative;
  cursor: pointer;
}

.description__btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  transition-duration: 0.3s;
  position: absolute;
  bottom: -2px;
  background-color: #BEA67B;
}

.description__btn:hover {
  color: #BEA67B;
}

.description__btn:hover::before {
  width: calc(100% - 13px);
}

.description__img {
  display: block;
  max-width: 700px;
  width: 100%;
}

.wooder__headline {
  font-size: 48px;
  color: #000000;
  margin: 0 auto 32px auto;
  text-transform: uppercase;
  text-align: center;
}

.wooder__preheadline-hr {
  height: 4px;
  width: 100%;
  border: none;
  margin: 0 auto 70px auto;
  background-color: rgba(0, 0, 0, 0);
  transform: translateY(-90px);
}

.wooder__preheadline-hr::before {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(90px);
}

.wooder__headline-hr {
  height: 4px;
  width: 44px;
  border: none;
  margin: 0 auto 27px auto;
  background-color: #BEA67B;
}

.wooder__headline-text {
  text-align: center;
  margin: 0 auto 80px auto;
  color: #636262;
  font-size: 25px;
  line-height: 30px;
}

.wooder__grid {
  margin: 0 auto;
  display: flex;
  padding: 160px 0;
}

@media screen and (max-width: 860px) {
  .wooder__grid {
    flex-direction: column;
    align-items: center;
  }
}

.wooder__cell {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .wooder__cell {
    max-width: none;
    margin: 0 0 30px 0;
  }
}

.wooder__cell--left {
  transform: translateY(100px);
}

@media screen and (max-width: 860px) {
  .wooder__cell--left {
    transform: none;
  }
}

.wooder__cell--right {
  transform: translateY(-100px);
}

@media screen and (max-width: 860px) {
  .wooder__cell--right {
    transform: none;
  }
}

.wooder__icon {
  width: 272px;
  height: 272px;
  border: 13px solid white;
  padding: 13px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px black;
  background-color: black;
  margin: 0 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.wooder__text {
  text-align: center;
  line-height: 20px;
  color: white;
}

.wooder__hr {
  width: 25px;
  background-color: #BEA67B;
  height: 1px;
  margin: 0 0 30px 0;
  border: none;
  transform: translateX(-1px);
}

.wooder__name {
  text-align: center;
  font-family: "Proxima Nova Regular";
  color: #000;
  font-size: 25px;
  line-height: 30px;
}

@media screen and (max-width: 860px) {
  .wooder__name {
    width: 80%;
  }
}

.product {
  position: relative;
}

.product__headline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-150px);
  display: flex;
  justify-content: center;
  margin: 0 auto 35px auto;
  line-height: 60px;
  font-family: "Proxima Nova Bold";
  font-size: 48px;
  text-transform: uppercase;
  color: #BEA67B;
  letter-spacing: 2px;
}

.product__description {
  transform: translateY(-80px);
  display: flex;
  justify-content: center;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 47px 0;
  text-align: center;
  color: white;
}

.product__grid {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .product__grid {
    flex-direction: column;
  }
}

.product__cell {
  flex-grow: 1;
  color: white;
  max-width: 350px;
  padding: 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .product__cell {
    margin: 0 0 40px 0;
    max-width: none;
    text-align: center;
  }
}

.product__cell:first-child {
  transform: translateY(-100px);
}

@media screen and (max-width: 800px) {
  .product__cell:first-child {
    transform: none;
  }
}

.product__cell:last-child {
  transform: translateY(225px);
}

@media screen and (max-width: 800px) {
  .product__cell:last-child {
    transform: none;
  }
}

.product__h3 {
  text-align: center;
  font-size: 40px;
  margin: 0 0 15px 0;
}

.product__ul {
  list-style: disc inside;
}

@media screen and (max-width: 800px) {
  .product__ul {
    text-align: left;
    padding: 0 0 0 30px;
  }
}

.product__li {
  padding: 5px 0;
  color: white;
  font-size: 20px;
  line-height: 22px;
}

.product__li:first-child {
  padding: 10px 0 5px 0;
}

.product__span {
  display: block;
  font-size: 20px;
  line-height: 22px;
  width: 100%;
  text-align: center;
}

.product__wrapper {
  background-image: url(../images/temp__pic4.jpg);
  background-size: cover;
}

.product__wrapper--darken {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 200px 0;
}

.video-block {
  border: 1px solid #BEA67B;
  padding: 215px 110px 180px 200px;
}

@media screen and (max-width: 950px) {
  .video-block {
    padding: 100px 50px 90px 150px;
  }
}

@media screen and (max-width: 850px) {
  .video-block {
    padding: 50px;
  }
}

.video-block__headline {
  margin: 0 0 35px 0;
  line-height: 60px;
  font-family: "Proxima Nova Bold";
  font-size: 40px;
  text-transform: uppercase;
  color: #BEA67B;
  position: relative;
}

.video-block__headline::before {
  content: '';
  width: 120px;
  height: 1px;
  background-color: white;
  display: block;
  position: absolute;
  top: 50%;
  left: -130px;
}

@media screen and (max-width: 850px) {
  .video-block__headline {
    font-size: 30px;
    line-height: 40px;
  }
  .video-block__headline::before {
    display: none;
  }
}

.video-block__description {
  max-width: 410px;
  font-family: "Proxima Nova Regular";
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 47px 0;
  color: white;
  position: relative;
}

.video-block__description::before {
  content: '';
  width: 44px;
  height: 4px;
  background-color: #BEA67B;
  display: block;
  position: absolute;
  top: 20%;
  left: -70px;
}

@media screen and (max-width: 850px) {
  .video-block__description::before {
    display: none;
  }
}

.video-block__btn {
  border: 2px solid white;
  background-color: transparent;
  font-size: 14px;
  min-height: 60px;
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova Bold";
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
}

.video-block__btn:hover {
  border-color: #BEA67B;
  color: #BEA67B;
}

.video-block__wrapper {
  background-image: url(../images/temp__pic5.jpg);
  background-size: cover;
}

.video-block__wrapper--darken {
  background-color: rgba(1, 1, 1, 0.7);
  padding: 90px 180px;
}

@media screen and (max-width: 750px) {
  .video-block__wrapper--darken {
    padding: 90px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.form {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #BEA67B;
  display: flex;
  padding: 50px 25px;
  border-radius: 10px;
  flex-direction: column;
}

.form__action {
  color: #BEA67B;
  font-size: 30px;
  margin: 0 0 30px 0;
  font-family: "Proxima Nova Regular";
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.form__input {
  width: 100%;
  height: 30px;
  margin: 0 0 30px 0;
  padding: 0 10px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

.form__input::placeholder {
  color: white;
  opacity: 0.5;
}

.form__btn {
  border: 1px solid white;
  background-color: #000;
  color: white;
  padding: 10px 0;
  cursor: pointer;
  transition-duration: 0.3s;
}

.form__btn:hover {
  color: #BEA67B;
  border-color: #BEA67B;
}

.form__headline {
  display: block;
  color: white;
  margin: 0 0 10px 0;
}

.form__wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 1000;
}

.form__wrapper--show {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.about__text-block {
  max-width: 335px;
  margin: 0 0 0 100px;
}

@media screen and (max-width: 900px) {
  .about__text-block {
    max-width: 600px;
    margin: 0 auto;
  }
}

.about__headline {
  font-size: 48px;
  font-family: "Proxima Nova Bold";
  color: #010101;
  margin: 0 0 35px 0;
  position: relative;
  text-transform: uppercase;
}

.about__headline::before {
  content: '';
  width: 150px;
  height: 1px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  left: -175px;
}

@media screen and (max-width: 1000px) {
  .about__headline::before {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .about__headline {
    text-align: center;
  }
}

.about__description {
  line-height: 25px;
  font-family: "Proxima Nova Regular";
  font-size: 15px;
  color: #464646;
  margin: 0 0 35px 0;
  position: relative;
}

.about__description::before {
  content: '';
  width: 44px;
  height: 4px;
  background-color: #BEA67B;
  display: block;
  position: absolute;
  top: 20%;
  left: -70px;
}

@media screen and (max-width: 900px) {
  .about__description::before {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .about__img {
    margin: 0 0 30px 0;
  }
}

.about__grid {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .about__grid {
    flex-direction: column;
  }
}

.about__btn {
  font-size: 14px;
  color: #000000;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: "Proxima Nova Bold";
  position: relative;
}

.about__btn::before {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  transition-duration: 0.3s;
  position: absolute;
  bottom: -2px;
  background-color: #BEA67B;
}

.about__btn:hover {
  color: #BEA67B;
}

.about__btn:hover::before {
  width: calc(100% - 13px);
}

.about__wrapper {
  padding: 140px 0 125px 0;
}

.footer {
  padding: 24px 0;
  background-image: url("../images/footer-bg.jpg");
}

.footer__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__rights {
  font-size: 15px;
  color: #464646;
  font-family: "Proxima Nova Regular";
}

.footer__num {
  display: flex;
}

.footer__span {
  display: block;
  color: white;
  font-family: "Proxima Nova Regular";
}

.footer__span:first-child {
  margin-right: 10px;
}

.footer__logo {
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 4px;
  font-family: "Proxima Nova Bold";
  text-transform: uppercase;
}

.footer__author {
  font-family: "Proxima Nova Regular";
  color: #464646;
  font-family: 15px;
}

.footer__ul {
  display: flex;
  list-style: none;
  flex-direction: row-reverse;
}

.footer__li {
  padding: 0 10px;
  transition-duration: 0.3s;
}

.footer__li:hover {
  transform: scale(1.5);
}

.footer__a {
  font-size: 20px;
  color: white;
}
