// Default
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

// Links
a {
  text-decoration: none;
  &:active,
  &:hover {
    outline: none;
  }
}

// List
ul,
li {
  margin: 0;
  padding: 0;
}

// Headlines
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

// Default
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}
audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}
iframe {
  border: 0;
}

// From
textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}

// fonts

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ProximaNova-Bold.woff") format("woff"),
    url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$fontMain: "Proxima Nova Regular";
$fontSecondary: "Proxima Nova Bold";
$colorMain: #bea67b;
$descriptionMobile: 15px;
$headlineMobile: 30px;

.fas,
.far {
  font-size: 35px;
}

.mainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.menu {
  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 22px;
    height: 20px;

    @media screen and (max-width: 1000px) {
      display: flex;
    }

    @media screen and (max-width: 380px) {
      margin: 25px 0 0 0;
    }
  }

  &__hr {
    background-color: white;
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
  }

  &__info {
    font-size: 15px;
    font-family: $fontSecondary;
    color: white;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    padding: 30px 25px;
    z-index: 100;
    width: 100%;
    transition-duration: 0.3s;

    @media screen and (max-width: 380px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    font-size: 36px;
    letter-spacing: 7px;
    color: #ffffff;
    font-family: $fontSecondary;
    text-transform: uppercase;
  }
}

.nav {
  @media screen and (max-width: 1000px) {
    display: none;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-color: rgba(1, 1, 1, 0.7);
  }

  &__ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__li {
    font-family: $fontSecondary;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 60px;
    color: white;

    @media screen and (max-width: 1200px) {
      padding: 0 30px;
      align-items: center;
    }

    @media screen and (max-width: 1000px) {
      margin: 30px auto;
      padding: 0;
    }

    &--wooden {
      font-size: 36px;
      letter-spacing: 7px;
      color: #ffffff;
    }

    &:last-child {
      padding: 0 0 0 60px;

      @media screen and (max-width: 1200px) {
        padding: 0 0 0 30px;
      }

      @media screen and (max-width: 1000px) {
        padding: 0;
      }
    }
  }

  &__a {
    color: white;
  }

  &__span {
    color: red;
  }
}

.fade {
  margin: 0 !important;
}

.slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;

  @media screen and (max-width: 1000px) {
    background-position: center;
  }

  &__text-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 630px;

    @media screen and (max-width: 1200px) {
      max-width: 450px;
    }

    @media screen and (max-width: 700px) {
      max-width: none;
      width: 70%;
      text-align: right;
      padding: 0 20px;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
      top: 60%;
      transform: none;
      left: 50%;
      transform: translateX(-50%);
    }

    &--left {
      right: 0;

      @media screen and (max-width: 350px) {
        width: 90%;
        top: 40%;
        transform: none;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &--right {
      position: absolute;
      left: 15%;
      transform: translate(-50% -50%);

      @media screen and (max-width: 700px) {
        text-align: left;

        & a {
          margin: 0 !important;
        }
      }

      @media screen and (max-width: 500px) {
        left: 50%;
        transform: translate(-50% -50%);
      }

      @media screen and (max-width: 350px) {
        width: 90%;
        top: 50%;
        transform: none;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__btn {
    @media screen and (max-width: 700px) {
      margin: 0 0 0 auto;
    }

    @media screen and (max-width: 600px) {
      max-width: none !important;
    }
  }

  &__headline {
    color: $colorMain;
    font-size: 70px;
    font-family: $fontSecondary;
    margin: 0 0 60px 0;

    @media screen and (max-width: 1200px) {
      font-size: 50px;
    }

    @media screen and (max-width: 600px) {
      font-size: 40px;
    }

    @media screen and (max-width: 500px) {
      font-size: 35px;
      text-align: center;
      margin: 0 0 30px 0;
    }
  }

  &.red {
    background-image: url("../images/slide1.jpg");
    background-size: cover;

    @media screen and (max-width: 500px) {
      background-position: 40%;
    }
  }

  &.green {
    background-image: url("../images/slide2.jpg");
    background-size: cover;

    @media screen and (max-width: 500px) {
      background-position: 70%;
    }
  }

  &.blue {
    background-image: url("../images/slide3.jpg");
    background-size: cover;

    @media screen and (max-width: 500px) {
      background-position: 40%;
    }
  }
}

.wooden {
  &__text {
    color: $colorMain;
    font-size: 52px;
    position: absolute;
    left: 2%;
    top: 30%;
    top: 40%;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    font-family: $fontSecondary;

    &::before {
      content: "";
      display: block;
      width: 50px;
      height: 4px;
      background-color: $colorMain;
    }
  }
}

.description {
  padding: 90px 0 0 0;
  box-sizing: border-box;

  &__grid {
    display: flex;
    justify-content: space-between;
    margin: 0 0 90px 0;
    position: relative;
    flex-direction: row-reverse;

    @media screen and (max-width: 500px) {
      margin: 0 0 50px 0;
    }

    &--second {
      flex-direction: row;
    }

    &--last {
      margin: 0 0 90px 0;

      @media screen and (max-width: 500px) {
        margin: 0 0 50px 0;
      }
    }

    @media screen and (max-width: 1100px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__cell {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1100px) {
      justify-content: center;
    }
  }

  &__text-block {
    width: 350px;

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }

  &__title {
    font-family: $fontMain;
    font-size: 48px;
    color: #010101;
    margin: 0 0 20px 0;
    text-align: center;
  }

  &__text {
    margin: 0 0 35px 0;
    font-size: 25px;
    text-align: center;
    color: #464646;
    line-height: 25px;

    @media screen and (max-width: 550px) {
      font-size: $descriptionMobile;
    }
  }

  &__btn {
    display: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: #000000;
    text-transform: uppercase;
    font-family: $fontMain;
    position: relative;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      transition-duration: 0.3s;
      position: absolute;
      bottom: -2px;
      background-color: $colorMain;
    }

    &:hover {
      &::before {
        width: calc(100% - 13px);
      }
      color: $colorMain;
    }
  }

  &__img {
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.wooder {
  &__headline {
    font-size: 48px;
    color: #000000;
    margin: 0 auto 32px auto;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 530px) {
      font-size: 40px;
    }
  }

  &__br {
    @media screen and (max-width: 530px) {
      display: none;
    }
  }

  &__h2 {
    @media screen and (max-width: 530px) {
      margin: 10px 0;
    }
  }

  &__preheadline-hr {
    height: 4px;
    width: 100%;
    border: none;
    margin: 0 auto 70px auto;
    background-color: rgba(0, 0, 0, 0);
    transform: translateY(-90px);

    &::before {
      content: "";
      display: block;
      height: 4px;
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0.7);
      transform: translateY(90px);

      @media screen and (max-width: 500px) {
        transform: translateY(100px);
      }
    }
  }

  &__headline-hr {
    height: 4px;
    width: 44px;
    border: none;
    margin: 0 auto 27px auto;
    background-color: $colorMain;
  }

  &__headline-text {
    text-align: center;
    margin: 0 auto 80px auto;
    color: #636262;
    font-size: 25px;
    line-height: 30px;

    @media screen and (max-width: 800px) {
      font-size: 18px;
    }

    @media screen and (max-width: 500px) {
      font-size: 16px;
      line-height: 24px;
      margin: 0 auto 50px auto;
    }
  }

  &__grid {
    margin: 0 auto;
    display: flex;
    padding: 160px 0;

    @media screen and (max-width: 860px) {
      flex-direction: column;
      align-items: center;
      padding: 80px 0 50px 0;
    }

    @media screen and (max-width: 550px) {
      padding: 50px 0 20px 0;
    }
  }

  &__cell {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 860px) {
      max-width: none;
      margin: 0 0 30px 0;
    }

    &--left {
      transform: translateY(100px);

      @media screen and (max-width: 860px) {
        transform: none;
      }
    }

    &--right {
      transform: translateY(-100px);

      @media screen and (max-width: 860px) {
        transform: none;
      }
    }
  }

  &__icon {
    width: 272px;
    height: 272px;
    border: 13px solid white;
    padding: 13px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px black;
    background-color: rgb(0, 0, 0);
    margin: 0 0 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;

    @media screen and (max-width: 550px) {
      width: 200px;
      height: 200px;
    }
  }

  &__text {
    text-align: center;
    line-height: 20px;
    color: white;
  }

  &__hr {
    width: 25px;
    background-color: $colorMain;
    height: 1px;
    margin: 0 0 30px 0;
    border: none;
    transform: translateX(-1px);
  }

  &__name {
    text-align: center;
    font-family: $fontMain;
    color: #000;
    font-size: 25px;
    line-height: 30px;

    @media screen and (max-width: 860px) {
      width: 80%;
    }

    @media screen and (max-width: 550px) {
      font-size: calc($headlineMobile / 2);
    }
  }
}

.product {
  position: relative;

  &__headline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-150px);
    display: flex;
    justify-content: center;
    margin: 0 auto 35px auto;
    line-height: 60px;
    font-family: $fontSecondary;
    font-size: 48px;
    text-transform: uppercase;
    color: $colorMain;
    letter-spacing: 2px;

    @media screen and (max-width: 800px) {
      transform: none;
      position: static;
      margin: 0;
    }

    @media screen and (max-width: 500px) {
      font-size: 35px;
    }
  }

  &__description {
    transform: translateY(-80px);
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 47px 0;
    text-align: center;
    color: white;

    @media screen and (max-width: 800px) {
      transform: none;
      font-size: 18px;
    }

    @media screen and (max-width: 570px) {
      width: 70%;
      margin: 0 auto 40px auto;
    }

    @media screen and (max-width: 550px) {
      font-size: $descriptionMobile;
      line-height: 20px;
    }
  }

  &__grid {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__cell {
    flex-grow: 1;
    color: white;
    max-width: 350px;
    padding: 0 20px;
    box-sizing: border-box;

    @media screen and (max-width: 800px) {
      margin: 0 0 40px 0;
      max-width: none;
      text-align: center;
    }

    &--second {
      position: relative;

      @media screen and (max-width: 800px) {
        padding: 40px 0;
        &::before,
        &::after {
          display: block;
          content: "";
          width: 100%;
          height: 3px;
          background-color: $colorMain;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }

        &::before {
          top: 0;
        }

        &::after {
          bottom: 0;
        }
      }
    }

    &:first-child {
      transform: translateY(-100px);

      @media screen and (max-width: 800px) {
        transform: none;
      }
    }

    &:last-child {
      transform: translateY(225px);

      @media screen and (max-width: 800px) {
        transform: none;
      }
    }
  }

  &__h3 {
    text-align: center;
    font-size: 40px;
    margin: 0 0 15px 0;

    @media screen and (max-width: 500px) {
      font-size: 35px;
    }
  }

  &__ul {
    list-style: disc inside;

    @media screen and (max-width: 800px) {
      text-align: left;
      padding: 0 0 0 30px;
    }

    @media screen and (max-width: 800px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &__li {
    padding: 5px 0;
    color: white;
    font-size: 20px;
    line-height: 22px;

    @media screen and (max-width: 500px) {
      font-size: $descriptionMobile;
    }

    &:first-child {
      padding: 10px 0 5px 0;
    }
  }

  &__span {
    display: block;
    font-size: 20px;
    line-height: 22px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: 800px) {
      width: 60%;
      margin: 0 auto;
    }

    @media screen and (max-width: 500px) {
      width: 70%;
      font-size: 16px;
      line-height: 20px;
      font-size: $descriptionMobile;
    }
  }

  &__wrapper {
    background-image: url(../images/temp__pic4.jpg);
    background-size: cover;

    @media screen and (max-width: 1000px) {
      background-position-x: center;
    }

    @media screen and (max-width: 650px) {
      background-color: #000000;
      background-image: linear-gradient(145deg, #000000 0%, #958e69 54%);
    }

    &--darken {
      background-color: rgba(1, 1, 1, 0.7);
      padding: 200px 0;

      @media screen and (max-width: 800px) {
        padding: 50px 0;
      }
    }
  }
}

.video-block {
  border: 1px solid $colorMain;
  padding: 215px 110px 180px 200px;

  @media screen and (max-width: 950px) {
    padding: 100px 50px 90px 150px;
  }

  @media screen and (max-width: 850px) {
    padding: 50px;
  }

  @media screen and (max-width: 550px) {
    padding: 50px 25px;
  }

  &__headline {
    margin: 0 0 35px 0;
    line-height: 60px;
    font-family: $fontSecondary;
    font-size: 40px;
    text-transform: uppercase;
    color: $colorMain;
    position: relative;

    @media screen and (max-width: 550px) {
      max-width: 300px;
    }

    &::before {
      content: "";
      width: 120px;
      height: 1px;
      background-color: white;
      display: block;
      position: absolute;
      top: 50%;
      left: -130px;
    }

    @media screen and (max-width: 850px) {
      font-size: 30px;
      line-height: 40px;

      &::before {
        display: none;
      }
    }
  }

  &__description {
    max-width: 410px;
    font-family: $fontMain;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 47px 0;
    color: white;
    position: relative;

    &::before {
      content: "";
      width: 44px;
      height: 4px;
      background-color: $colorMain;
      display: block;
      position: absolute;
      top: 20%;
      left: -70px;
    }

    @media screen and (max-width: 850px) {
      &::before {
        display: none;
      }
    }

    @media screen and (max-width: 550px) {
      font-size: $descriptionMobile;
    }
  }

  &__btn {
    border: 2px solid white;
    background-color: transparent;
    font-size: 14px;
    min-height: 60px;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $fontSecondary;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 0.3s;

    @media screen and (max-width: 550px) {
      max-width: none;
    }

    &:hover {
      border-color: $colorMain;
      color: $colorMain;
    }
  }
  &__wrapper {
    background-image: url(../images/temp__pic5.jpg);
    background-size: cover;

    @media screen and (max-width: 550px) {
      background-position-x: center;
    }

    &--darken {
      background-color: rgba(1, 1, 1, 0.7);
      padding: 90px 180px;

      @media screen and (max-width: 750px) {
        padding: 90px;
      }

      @media screen and (max-width: 550px) {
        padding: 50px 25px;
        background-position-x: left;
        background-size: none;
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid $colorMain;
  display: flex;
  padding: 50px 25px;
  border-radius: 10px;
  flex-direction: column;

  &__action {
    color: $colorMain;
    font-size: 30px;
    margin: 0 0 30px 0;
    font-family: $fontMain;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__input {
    width: 100%;
    height: 30px;
    margin: 0 0 30px 0;
    padding: 0 10px;
    border: 1px solid white;
    background-color: black;
    color: white;

    &::placeholder {
      color: white;
      opacity: 0.5;
    }
  }

  &__btn {
    border: 1px solid white;
    background-color: #000;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      color: $colorMain;
      border-color: $colorMain;
    }
  }

  &__headline {
    display: block;
    color: white;
    margin: 0 0 10px 0;
  }

  &__wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;

    &--show {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}

.about {
  &__text-block {
    max-width: 335px;
    margin: 0 0 0 100px;

    @media screen and (max-width: 900px) {
      max-width: 600px;
      margin: 0 auto;
    }

    @media screen and (max-width: 700px) {
    }
  }

  &__headline {
    font-size: 48px;
    font-family: $fontSecondary;
    color: #010101;
    margin: 0 0 35px 0;
    position: relative;
    text-transform: uppercase;

    @media screen and (max-width: 950px) {
      font-size: 30px;
      margin: 0 0 20px;
    }

    &::before {
      content: "";
      width: 150px;
      height: 1px;
      background-color: #000000;
      display: block;
      position: absolute;
      top: 50%;
      left: -175px;
    }

    @media screen and (max-width: 1000px) {
      &::before {
        display: none;
      }
    }

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  &__description {
    line-height: 25px;
    font-family: $fontMain;
    font-size: 15px;
    color: #464646;
    margin: 0 0 35px 0;
    position: relative;

    &::before {
      content: "";
      width: 44px;
      height: 4px;
      background-color: $colorMain;
      display: block;
      position: absolute;
      top: 20%;
      left: -70px;
    }

    @media screen and (max-width: 900px) {
      &::before {
        display: none;
      }
    }

    @media screen and (max-width: 550px) {
      font-size: $descriptionMobile;
    }
  }

  &__img {
    @media screen and (max-width: 900px) {
      margin: 0 0 30px 0;
    }
  }

  &__grid {
    display: flex;
    align-items: center;

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__btn {
    font-size: 14px;
    color: #000000;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;
    transition-duration: 0.3s;
    cursor: pointer;
    font-family: $fontSecondary;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 0px;
      height: 1px;
      transition-duration: 0.3s;
      position: absolute;
      bottom: -2px;
      background-color: $colorMain;
    }

    &:hover {
      &::before {
        width: calc(100% - 13px);
      }
      color: $colorMain;
    }
  }

  &__wrapper {
    padding: 140px 0 125px 0;

    @media screen and (max-width: 1000px) {
      padding: 100px 0;
    }

    @media screen and (max-width: 900px) {
      padding: 100px 0 65px 0;
    }

    @media screen and (max-width: 900px) {
      padding: 50px 0 33px 0;
    }

    @media screen and (max-width: 650px) {
      padding: 30px 0 0 0;
    }
  }
}

.footer {
  padding: 24px 0;
  background-image: url("../images/footer-bg.jpg");

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__rights {
    font-size: 15px;
    color: #464646;
    font-family: $fontMain;
  }

  &__num {
    display: flex;
  }

  &__span {
    display: block;
    color: white;
    font-family: $fontMain;

    &:first-child {
      margin-right: 10px;
    }
  }

  &__logo {
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 4px;
    font-family: $fontSecondary;
    text-transform: uppercase;
  }

  &__author {
    font-family: $fontMain;
    color: #464646;
    font-family: 15px;
  }

  &__ul {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
  }

  &__li {
    padding: 0 10px;
    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.5);
    }
  }

  &__a {
    font-size: 20px;
    color: white;
  }
}
